<%- contentFor('navbar') %>
<% include ../../partials/nav-app %>

<script type="text/javascript" src="js/bootstrap-pincode-input.js"></script>
<link href="css/bootstrap-pincode-input.css" rel="stylesheet">


<%- contentFor('hero') %>

<section class="home">
    <h1>Check a driver</h1>
    <p>Type the Driver ID below.
    </p>
</section>

    
<%- contentFor('body') %>
<!--Features-->
<article class="features app-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" name="checkDriver" id="pincode-input">

            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-default btn-lg" id="submit">Check driver</button>
<!--                <a onclick="javascript:$('#pincode-input').pincodeInput().data('plugin_pincodeInput').clear()">Clear</a>-->
            </div>
            
        </div>
    </div>
</article>

<script>
    const apiURL = "https://dollarvan-reviews.herokuapp.com/";
    let dvid;
    $('#pincode-input').pincodeInput({inputs:4,hidedigits:false,complete:function(value, e, errorElement){
        console.log("ID: " + value);
        dvid = value;
//        $.get("https://dollarvan-reviews.herokuapp.com/api/vans/dvid/" + value, function(data){
//            console.log(data);
//        })
    }});
    $('#submit').click(function() {
        window.location.href = apiURL + dvid;
//        console.log(apiURL + dvid);
    });
</script>