body {
	font-family: "Rubik", Helvetica, sans-serif;
	font-weight: 400;
    padding-top: 50px;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
}
a {
    color: #300075;
}
a:hover {
    text-decoration: none;
    color: #000;
}

.home h1 {
    color: #fff;
}

main {
    min-height: 500px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #9474b4;
}
.navbar-inverse {
    background-color: #300075;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
header {
    padding-top: 150px;
    padding-bottom: 500px;
}
footer {
    padding-top: 30px;
    background-color: #300075;
    color: #9474b4;
}
main {
    background-color: #fff;
}
article {
    margin-bottom: 30px;
}

.text-center>img {
    margin: 0 auto;
}

.translate {
	color: #999;
}

.features .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

.about {
    padding-bottom: 250px;
}

.secondary {
    background-color: #300075;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 75px;
}
.secondary p, .secondary li {
    color: #9474b4;
}
.secondary a {
    color: #fff;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 
    background-size: cover;
    transition: 1s opacity;
}

.about video { background: url('../img/bg-index.jpg') no-repeat; }
.maps video { background: url('../img/bg-maps.jpg') no-repeat; }

#about { background: url('../img/bg-index.jpg') no-repeat; }
#maps { background: url('../img/bg-maps.jpg') no-repeat; }

.maps.container {
    padding-top: 75px;
    padding-bottom: 50px;
}
.stopfade { 
   opacity: .5;
}

/*.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand.img-circle {
    background-color: #fff;
    height: 40px;
    width: 40px;
    color: #300075;
}*/
/*
.jumbotron.home {
    background-image: url(../img/bg-index.jpg);
    background-position: center;
    background-size: cover;
}*/

.btn-lg {
    border-radius: 24px;
    padding: 15px 30px;
    margin-top: 15px;
}
.btn-primary {
    background-color: transparent;
    border-color: #300075;
    color: #300075;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #300075;
    color: #fff;
}

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}