<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="#about">Info</a></li>
    <li><a href="#maps">Maps</a></li>
    <li><a href="#prototype">Prototype</a></li>
    <li><a data-toggle="modal" data-target="#researchModal">Research</a></li>
    <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button">English <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->

<%- contentFor('hero') %>

<section class="home">
    <h1>DollarVan<span style="font-weight: 400">.nyc</span></h1>
    <h2>Transportation by the people, for the people</h2>
    <!--<div class="row">
        <div class="col-xs-12">
            <a class="btn btn-lg btn-default" data-toggle="modal" data-target="#vidModal">Get the facts. <span class="glyphicon glyphicon-play-circle"> </span></a>
        </div>
    </div>-->
    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>
</section>

    
<%- contentFor('body') %>
<!--Features-->
<article class="features secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class='embed-container'>
                    <iframe src="https://www.youtube.com/embed/Hl8dsbfcloM" frameborder="0" allowfullscreen style="width: 100%; height: 100%"></iframe>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-4">
                <div>
                    <a href="#about"><img src="/img/feature-info.jpg" class="img-thumbnail img-responsive" alt="Van Information" /></a>
                </div>
                <h3><a href="#about">Van Information</a></h3>
                <p>Everything you need to know about dollar vans.</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#maps"><img src="/img/feature-map.jpg" class="img-thumbnail img-responsive" alt="Van Maps" /></a>
                </div>
                <h3><a href="#maps">Van Maps</a></h3>
                <p>View route information for dollar vans.</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#prototype"><img src="/img/feature-prototypes.jpg" class="img-thumbnail img-responsive" alt="Prototype" /></a>
                </div>
                <h3><a href="#prototype">Prototype</a></h3>
                <p>Current progress and upcoming features.</p>

            </div>
        </div>
    </div>
</article>

<!--About-->
<header class="jumbotron" id="about">

    <section class="container">
        <section class="maps">

            <h2>Van Information</h2>
            <p class="lead">Everything you need to know about dollar vans.</p>

        </section>
    </section>
    
</header>
<article class="container features">
    <div class="row">
        <div class="col-sm-4">
            <h3>How To Ride</h3>
            <p>You can board dollar vans at designated stops, or hail them just like a taxi. 
                <strong>Queens, Flatbush</strong>: you can request a drop-off anywhere along the route. <strong>Chinatown, Flushing, Sunset Park</strong>: you must board and depart at designated stops.</p>
        </div>
        <div class="col-sm-4">
            <h3>Van Fares</h3>
            <p>Pay your driver before or after your ride.</p>
            <p><strong>Queens, Flatbush</strong>: $2</p>
            <p><strong>Chinatown, Flushing, Sunset Park</strong>: $3-4.</p>
        </div>
        <div class="col-sm-4">
            <h3>Licensed Vans</h3>
            <p>Riding Licensed Dollar Vans makes your ride safer. TLC (NYC Taxi &amp; Limousine Commission) runs background checks on all drivers. Vehicles must meet strict safety standards. Commuter Van operators must meet proper insurance and licensing requirements.</p>
        </div>
    </div>
    <div class="row">
        <img src="/img/van-info.jpg" class="img-responsive img-rounded" alt="TLC-licensed Commuter Vans have visible markings" />
    </div>
    
</article>

<article class="secondary">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">
                <h3>TLC-licensed Commuter Vans have visible markings:</h3>
                <ul class="lead">
                    <li>TLC blue diamond decals: located in each rear passenger door, the windshield and the rear door window.</li>
                    <li>TLC-issued license plates: that either begin with T and end with C, or end with either: LV, LB, LA, or BB.</li>
                    <li>Business information: about the van's owner and operator on the van body</li>
                </ul>
            </div>
        </div>
    </div>
</article>

<!--Maps-->
<header class="jumbotron" id="maps">

    <section class="container">
        <section class="maps">

            <h2>Maps</h2>
            <p class="lead">View route information for dollar vans.</p>

        </section>
    </section>
    
</header>
<article class="maps container">
    <div class="row">

        <div class="col-sm-4 download-maps">
            <h4>Eastern Queens</h4>
            <img src="/img/jamaica.jpg" class="img-responsive hidden-xs" alt="Jamaica Map" />
            <a href="/img/jamaica.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>
        <div class="col-sm-4 download-maps">
            <h4>Chinatown / Sunset Park / Flushing</h4>
            <img src="/img/chinatown.jpg" class="img-responsive hidden-xs" alt="Chinatown Map" />
            <a href="/img/chinatown.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>
        <div class="col-sm-4 download-maps">
            <h4>Flatbush / Utica</h4>
            <img src="/img/flatbush.jpg" class="img-responsive hidden-xs" alt="Flatbush Map" />
            <a href="/img/flatbush.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>

    </div>
</article>

<!--Prototype-->
<article class="maps container" id="prototype">
    <section class="visible-xs visible-sm">

        <h2>Prototypes</h2>

    </section>
    <div class="row">

        <div class="col-sm-4 text-center">
            
            <a href="https://xd.adobe.com/view/80cb9e01-3814-4c66-b954-e29212beecdf/" target="_blank"><img src="/img/prototype-en.png" class="img-prototype img-responsive hidden-sm hidden-xs" alt="English" /></a>
            <a class="btn btn-lg btn-primary visible-xs visible-sm" href="https://xd.adobe.com/view/80cb9e01-3814-4c66-b954-e29212beecdf/" target="_blank">English</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <a href="https://xd.adobe.com/view/164baea5-ea76-4ba4-b0d1-f3fa76f12265/" target="_blank"><img src="/img/prototype-es.png" class="img-prototype img-responsive hidden-sm hidden-xs" alt="Español" /></a>
            <a class="btn btn-lg btn-primary visible-xs visible-sm" href="https://xd.adobe.com/view/164baea5-ea76-4ba4-b0d1-f3fa76f12265/" target="_blank">Español</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <a href="https://xd.adobe.com/embed/460aa3b4-42a8-4650-8c18-e33396c724e4/" target="_blank"><img src="/img/prototype-zh.png" class="img-prototype img-responsive hidden-sm hidden-xs" alt="中文" /></a>
            <a class="btn btn-lg btn-primary visible-xs visible-sm" href="https://xd.adobe.com/view/460aa3b4-42a8-4650-8c18-e33396c724e4/" target="_blank">中文</a>
            
        </div>

    </div>
    
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 text-center">
            <a class="btn btn-lg btn-primary" href="http://app.dollarvan.nyc" target="_blank">View the web app (beta).</a>
        </div>

    </div>
    
    
</article>

<!-- Video Modal -->
<!--<div class="modal fade" id="vidModal" tabindex="-1" role="dialog" aria-labelledby="vidModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="vidModalLabel">DollarVan.nyc</h4>
      </div>
      <div class="modal-body text-center">
        <div class='embed-container'>
            <iframe src="https://www.youtube.com/embed/Hl8dsbfcloM" frameborder="0" allowfullscreen style="width: 100%; height: 100%"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>-->

<!-- Research Modal -->
<div class="modal fade" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="researchModalLabel">Dollar Van Related Research</h4>
      </div>
      <div class="modal-body">
        <div class="row">

            <div class="col-sm-8">
                <h4><a href="http://projects.newyorker.com/story/nyc-dollar-vans/" target="_blank">New York’s Shadow Transit</a></h4>
                by Aaron Reiss
                <blockquote>[D]ollar vans and other unofficial shuttles make up a thriving shadow transportation system that operates where subways and buses don’t—mostly in peripheral, low-income neighborhoods that contain large immigrant communities and lack robust public transit.</blockquote>
                <blockquote>During Hurricane Sandy, when thousands in this area were left stranded, dollar vans continued to run. Anthony Campbell, a driver, told me, “The M.T.A. buses withdrew their service because they said the downed trees weren’t safe for the buses. You know, we were smaller, so we were able to travel to and from.”</blockquote>

                <h4><a href="http://www.haitiinfos.net/2017/02/nyc-mayor-de-blasio-signs-legislation-reform-commuter-van-industry/" target="_blank">NYC Major deBlasio Signs Legislation To Reform Commuter Van Industry</a></h4> February 2016 
                (NYC Press Release / Vania Andre) 


                <h4><a href="https://www.theatlantic.com/national/archive/2011/10/the-illegal-private-bus-system-that-works/246166/" target="_blank">The (Illegal) Private Bus System That Works</a></h4>
                by Lisa Margonelli
                October 2011


                <h4><a href="http://www.wnyc.org/story/284349-dollar-van-routes-replacing-cut-bus-lines-announced/" target="_blank">Dollar Van Routes Replacing Cut Bus Lines Announced</a></h4>
                <p>by Andrea Bernstein<br />Jul 2010</p>



                <h4><a href="http://nyc.streetsblog.org/2015/01/06/stuck-in-the-middle-new-report-shows-who-can-benefit-from-outer-borough-brt/" target="_blank">Stuck in the Middle: When Transit-Dependent Communities Lack Good Transit</a></h4>
                by Stephen Miller Jan 2015

                <blockquote>New Yorkers who live close to the center of town are mostly affluent and have great transit options connecting them to a wealth of job opportunities. On the edges of town, people are not quite as well-off, and most can get to work by driving their own cars. In between are the least affluent neighborhoods, where New Yorkers rely on transit but the number of jobs accessible by train or bus is much smaller than in the city core.</blockquote>

                <h4><a href="http://triblive.com/news/adminpage/5674870-74/service-heritage-transportation" target="_blank">Former WorkLink bus service revives as Heritage Community Transportation</a></h4>
                by Matthew Santoni

                <h4><a href="https://www.nytimes.com/2015/05/07/upshot/transportation-emerges-as-crucial-to-escaping-poverty.html" target="_blank">Transportation Emerges as Crucial to Escaping Poverty</a></h4>
                <p>by Mikayla Bouchard<br />May 2015</p>

                <blockquote>In a large, continuing study of upward mobility based at Harvard, commuting time has emerged as the single strongest factor in the odds of escaping poverty. The longer an average commute in a given county, the worse the chances of low-income families there moving up the ladder.</blockquote>

                <blockquote>The relationship between transportation and social mobility is stronger than that between mobility and several other factors, like crime, elementary-school test scores or the percentagjn  of two-parent families in a community, said Nathaniel Hendren, a Harvard economist and one of the researchers on the study.</blockquote>

                <h4><a href="https://www.nytimes.com/2015/05/07/upshot/transportation-emerges-as-crucial-to-escaping-poverty.html?abt=0002&abg=1&_r=0" target="_blank">Transportation Inequality in the United States: A Historical Overview</a></h4>by Mikayla Bouchard


                <h4><a href="http://www.accessmagazine.org/articles/fall-2010/falling-immigration-rates-mean-falling-transit-ridership/" target="_blank">Falling Immigration Rates Mean Falling Transit Ridership</a></h4>
                <blockquote>Immigrants comprise a large and growing segment of the population, and are twice as likely as native-born workers to commute by public transit. In California, for example, immigrants comprise just over a quarter of the population (27 percent), but more than half of all transit commuters.</blockquote>

                <h4><a href="https://www.theatlantic.com/business/archive/2015/05/stranded-how-americas-failing-public-transportation-increases-inequality/393419/" target="_blank">Stranded: How America's Failing Public Transportation Increases Inequality</a></h4>
                <blockquote>The nation’s crumbling infrastructure makes it hard for those living in poverty to access jobs, quality groceries, and good schools.</blockquote>


                <h2>SCHOLARLY ARTICLES / STUDIES</h2>

                <h4><a href="https://wagner.nyu.edu/files/faculty/publications/JobAccessNov2015.pdf" target="_blank">Mobility, Economic Opportunity, and New York City Neighborhoods</a></h4> 
                by NYU Rudin Center: Sarah M. Kaufman, Mitchell L. Moss, Jorge Hernandez and Justin Tyndall

                <blockquote>Limited transit access is linked to higher unemployment. Neighborhoods with some, but insufficient transit access – those in the middle third – faced higher rates of unemployment than those in the top or bottom third.</blockquote>

                <h4><a href="http://heinonline.org/HOL/LandingPage?handle=hein.journals/frdurb31&div=51&id=&page=" target="_blank">Addressing Urban Transportation Equity in the United States</a></h4>by Robert D. Bullard


                <h4><a href="http://www.equality-of-opportunity.org/images/nbhds_exec_summary.pdf" target="_blank">The Impacts of Neighborhoods on Intergenerational Mobility</a></h4>
                by Raj Chetty and Nathaniel Hendren, Harvard University


                Hudson County 

                <h2>BOOK</h2>
                <h4><a href="http://www.indiebound.org/book/9780393246803" target="_blank">Move</a></h4>

                <blockquote>Americans are stuck. We live with travel delays on congested roads, shipping delays on clogged railways, and delays on repairs, project approvals, and funding due to gridlocked leadership. These delays affect us all, whether you are a daily commuter, a frequent flyer, an entrepreneur, an online shopper, a job-seeker, or a community leader. If people can't move, if goods are delayed, and if information networks can't connect, then economic opportunity deteriorates and social inequity grows.</blockquote>




                <h2>VIDEOS</h2>

                <h4><a href="https://www.youtube.com/watch?v=NDVVbr4IKZQ" target="_blank">No Vans Land</a></h4> 


                <h4><a href="https://youtu.be/75jxwNyVDtI" target="_blank">Dollar Vans: Inside NYC’s Hidden Transit System</a></h4>




                <h2>OTHER</h2>

                <h4><a href="http://jillhubley.com/project/nyclanguages/" target="_blank">Languages of NYC</a></h4> 


                <h4><a href="http://www.nyc.gov/html/tlc/html/industry/dsp_lic_appl_info.shtml" target="_blank">Dispatch Service Provider License Application Information</a></h4>


                <h4><a href="http://web.mta.info/nyct/paratran/guide.htm" target="_blank">Access-a-Ride Services</a></h4> 


            </div>
            <div class="col-sm-4 research-sidebar">
                <img src="/img/van-chinatown.jpg" class="img-responsive img-rounded" alt="Van in Chinatown" />
                <img src="/img/van-jamaica.jpg" class="img-responsive img-rounded" alt="Van in Jamaica" />
                <img src="/img/biggs-map.jpg" class="img-responsive img-rounded" alt="Van Drivers" />
                <img src="/img/jamaica-bus-stop.jpg" class="img-responsive img-rounded" alt="Hop in the Van!" />
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
