<%- contentFor('navbar') %>
<%- include ("../../partials/nav-en") %>

<%- contentFor('hero') %>

<section class="home">
    <h1>DollarVan<span style="font-weight: 400">.nyc</span></h1>
</section>


<%- contentFor('body') %>

<!--About-->
<header class="jumbotron" id="about">

    <section class="container">
        <section class="maps">
            <p class="lead"><a href="https://www.nysenate.gov/legislation/bills/2021/s5320" target="_blank">Read Senate Bill S5320</a> to legalize dollar van street hails in NYC</p>
            <p class="lead"><a href="https://www.bloomberg.com/news/articles/2023-02-28/can-new-york-city-s-dollar-vans-go-legit-and-go-electric" target="_blank">NYC’s Shadow Transit Network Seeks a Greener Future</a></p>
            <p class="lead"><a href="https://www.amny.com/transit/bill-legalizing-dollar-van-street-hails-gets-support-of-adams-admin/" target="_blank">Bill legalizing dollar van street hails gets support of Adams admin</a></p>
            <p class="lead"><a href="https://www.dollaride.com/blog/2022/7/18/deep-dive-into-nycs-transit-desert-problem" target="_blank">Dollaride: Explaining NYC's Transit Deserts</a></p>
            <p class="lead"><a href="https://projects.newyorker.com/story/nyc-dollar-vans/" target="_blank">New York's Shadow Transit</a> (Interactive Project)</p>
            <p class="lead"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0966692317306282" target="_blank">Anatomy of a new dollar van route: Informal transport and planning in New York City</a></p>
        </section>
    </section>

</header>
