<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/en/about">Van Info</a></li>
    <li><a href="/en/maps">Van Maps</a></li>
    <li><a href="/en/prototype">Prototype</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">English <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->

<%- contentFor('hero') %>

<section class="prototypes">
    
    <h2>Prototype</h2>

</section>


    
<%- contentFor('body') %>

<!--Team-->
<article class="maps container">
    <div class="row">

        <div class="col-sm-4 col-sm-offset-4">
            <iframe width="377" height="667" src="https://xd.adobe.com/embed/80cb9e01-3814-4c66-b954-e29212beecdf/" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</article>