
<%- contentFor('hero') %>

<!--
<h1>Dollar Van<span style="font-weight: 400">.nyc</span></h1>
<h2>About Dollar Vans</h2>
<p class="lead">Dollar Vans are a privately-owned transportation service that helps you move around areas where public transportation is scarce or inconvenient.</p>
<a class="btn btn-lg btn-primary" href="https://adobe.ly/2on3SNm" target="_blank" role="button">Check out the prototype</a>-->


<section class="about">

    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>

</section>


    
<%- contentFor('body') %>

<!--About-->
<article class="container features">
    <div class="row">
        <div class="col-sm-4">
            <h3>Cómo usar las Dollar Vans</h3>
            <p>Empieza tu viaje: Puedes abordar las Dollar Vans en las paradas designadas, o pararlas durante el trayecto como si fueran un taxi. En tu destino:  En Queens y Flatbush puedes pedir al conductor que pare en cualquier lugar en la ruta. En Chinatown, Flushing y Sunset Park las Dollar Vans no hacen paradas durante el trayecto.</p>
        </div>
        <div class="col-sm-4">
            <h3>Tarifas</h3>
            <p>Puedes pagar al conductor al inicio o final de tu viaje.</p>
            <p><strong>Queens, Flatbush</strong>: $2</p>
            <p><strong>Chinatown, Flushing, Sunset Park</strong>: $3-4.</p>
        </div>
        <div class="col-sm-4">
            <h3>Dollar Vans con licencia</h3>
            <p>Usar Dollar Vans con licencia hace tu viaje mucho más seguro. TLC (La comisión de taxi y limusinas, por sus siglas en inglés) se asegura de que los conductores no tengan historia criminal. Las Dollar Vans han de cumplir rigurosos estandars de seguridad. Finalmente, la TLC hace que los operadores tengan los seguros reglamentarios.</p>
        </div>
    </div>
    <div class="row">
        <img src="/img/van-info.jpg" class="img-responsive img-rounded" />
    </div>
    
</article>

    <div class="row secondary">
        
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Las Dollar Vans con licencia tienen identificadores visibles:</h3>
            <ul class="lead">
                <li>Stickers con diamantes azules: Ubicados en las puertas traseras, el parabrisas y en la ventana trasera.</li>
                <li>Placas de la TLC: Que bien pueden empezar con una "T" y terminar con una "C", o terminar con: "LV", "LB", "LA" o "BB".</li>
                <li>Información sobre el operador: Visible en el exterior de la furgoneta.</li>
            </ul>
        </div>
    </div>
