<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="#about">Información</a></li>
    <li><a href="#maps">Mapas</a></li>
    <li><a href="#prototype">Prototipo</a></li>
    <li><a href="/research" class="hidden">Research</a></li>
    <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button">Español <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->


<%- contentFor('hero') %>

<section class="home">
    <h1>DollarVan<span style="font-weight: 400">.nyc</span></h1>
    <h2>El transporte de tu gente para tu gente</h2>
</section>


<%- contentFor('cta') %>
<a class="btn btn-lg btn-primary" href="/about" target="_blank" role="button"></a>


    
<%- contentFor('body') %>
<!--Features-->
<article class="features secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class='embed-container'>
                    <iframe src="https://www.youtube.com/embed/Hl8dsbfcloM" allowfullscreen style="width: 100%; height: 100%"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <a href="#about"><img src="/img/feature-info.jpg" class="img-thumbnail img-responsive" alt="Información" /></a>
                </div>
                <h3><a href="#about">Información sobre las dollar vans</a></h3>
                <p>Todo sobre las dollar vans.</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#maps"><img src="/img/feature-map.jpg" class="img-thumbnail img-responsive" alt="Mapas" /></a>
                </div>
                <h3><a href="#maps">Mapas</a></h3>
                <p>Visualiza las rutas de las Dollar Vans.</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#prototypes"><img src="/img/feature-prototypes.jpg" class="img-thumbnail img-responsive" alt="Prototipos" /></a>
                </div>
                <h3><a href="#prototypes">Prototipos</a></h3>
                <p>Próximamente podrás ver las Dollar Vans con licencia en tiempo real.</p>

            </div>
        </div>
    </div>
</article>

<!--About-->
<header class="jumbotron" id="about">

    <section class="container">
        <section class="maps">

            <h2>Información sobre las dollar vans</h2>
            <p class="lead">Todo sobre las dollar vans.</p>

        </section>
    </section>
    
</header>
<article class="container features">
    <div class="row">
        <div class="col-sm-4">
            <h3>Cómo usar las Dollar Vans</h3>
            <p>Empieza tu viaje: Puedes abordar las Dollar Vans en las paradas designadas, o pararlas durante el trayecto como si fueran un taxi. En tu destino:  En Queens y Flatbush puedes pedir al conductor que pare en cualquier lugar en la ruta. En Chinatown, Flushing y Sunset Park las Dollar Vans no hacen paradas durante el trayecto.</p>
        </div>
        <div class="col-sm-4">
            <h3>Tarifas</h3>
            <p>Puedes pagar al conductor al inicio o final de tu viaje.</p>
            <p><strong>Queens, Flatbush</strong>: $2</p>
            <p><strong>Chinatown, Flushing, Sunset Park</strong>: $3-4.</p>
        </div>
        <div class="col-sm-4">
            <h3>Dollar Vans con licencia</h3>
            <p>Usar Dollar Vans con licencia hace tu viaje mucho más seguro. TLC (La comisión de taxi y limusinas, por sus siglas en inglés) se asegura de que los conductores no tengan historia criminal. Las Dollar Vans han de cumplir rigurosos estandars de seguridad. Finalmente, la TLC hace que los operadores tengan los seguros reglamentarios.</p>
        </div>
    </div>
    <div class="row hidden">
        <img src="/img/van-info.jpg" class="img-responsive img-rounded" alt="Las Dollar Vans con licencia tienen identificadores visibles" />
    </div>
    
</article>

<article class="secondary">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">
                <h3>Las Dollar Vans con licencia tienen identificadores visibles:</h3>
                <ul class="lead">
                    <li>Stickers con diamantes azules: Ubicados en las puertas traseras, el parabrisas y en la ventana trasera.</li>
                    <li>Placas de la TLC: Que bien pueden empezar con una "T" y terminar con una "C", o terminar con: "LV", "LB", "LA" o "BB".</li>
                    <li>Información sobre el operador: Visible en el exterior de la furgoneta.</li>
                </ul>
            </div>
        </div>
    </div>
</article>

<!--Maps-->
<header class="jumbotron" id="maps">

    <section class="container">
        <section class="maps">

            <h2>Mapas</h2>
            <p class="lead">Visualiza las rutas de las Dollar Vans.</p>

        </section>
    </section>
    
</header>
<article class="maps container">
    <div class="row">

        <div class="col-sm-4 download-maps">
            <h4>Eastern Queens</h4>
            <img src="/img/jamaica.jpg" class="img-responsive hidden-xs" alt="Mapa de las rutas en Jamaica" />
            <a href="/img/jamaica.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>
        <div class="col-sm-4 download-maps">
            <h4>Chinatown / Sunset Park / Flushing</h4>
            <img src="/img/chinatown.jpg" class="img-responsive hidden-xs" alt="Mapa de las rutas en Chinatown" />
            <a href="/img/chinatown.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>
        <div class="col-sm-4 download-maps">
            <h4>Flatbush / Utica</h4>
            <img src="/img/flatbush.jpg" class="img-responsive hidden-xs" alt="Mapa de las rutas en Flatbush" />
            <a href="/img/flatbush.jpg" download class="btn btn-lg btn-primary">Download <span class="glyphicon glyphicon-download"> </span></a>
        </div>

    </div>
</article>

<!--Prototype-->
<article class="maps container" id="prototype">
    <section class="visible-xs visible-sm">

        <h2>Prototipos</h2>

    </section>
    <div class="row">

        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-en.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#enModal" alt="English" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#enModal">English</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-es.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#esModal" alt="Español" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#esModal">Español</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-zh.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#zhModal" alt="中文" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#zhModal">中文</a>
            
        </div>

    </div>
    
    
</article>

<!-- 中文 Modal -->
<div class="modal fade" id="zhModal" tabindex="-1" role="dialog" aria-labelledby="zhModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="zhModalLabel">中文</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/460aa3b4-42a8-4650-8c18-e33396c724e4/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>

<!-- Español Modal -->
<div class="modal fade" id="esModal" tabindex="-1" role="dialog" aria-labelledby="esModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="esModalLabel">Español</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/164baea5-ea76-4ba4-b0d1-f3fa76f12265/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>

<!-- English Modal -->
<div class="modal fade" id="enModal" tabindex="-1" role="dialog" aria-labelledby="enModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="enModalLabel">English</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/80cb9e01-3814-4c66-b954-e29212beecdf/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>