<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="#about">關於小巴</a></li>
    <li><a href="#maps">小巴地圖</a></li>
    <li><a href="#prototype">App原型</a></li>
    <li><a href="/research" class="hidden">Research</a></li>
    <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button">中文 <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->

<%- contentFor('hero') %>

<section class="home">
    <h1>DollarVan<span style="font-weight: 400">.nyc</span></h1>
    <h2>民營和民享的交通出行</h2>
</section>


<%- contentFor('cta') %>
<a class="btn btn-lg btn-primary" href="/about" target="_blank" role="button"></a>


    
<%- contentFor('body') %>
<!--Features-->
<article class="features secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class='embed-container'>
                    <iframe src="https://www.youtube.com/embed/Hl8dsbfcloM" allowfullscreen style="width: 100%; height: 100%"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <a href="#about"><img src="/img/feature-info.jpg" class="img-thumbnail img-responsive" alt="關於小巴" /></a>
                </div>
                <h3><a href="#about">關於小巴</a></h3>
                <p>關於小巴您所需要知道的一切。</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#maps"><img src="/img/feature-map.jpg" class="img-thumbnail img-responsive" alt="小巴地圖" /></a>
                </div>
                <h3><a href="#maps">小巴地圖</a></h3>
                <p>查看小巴的路線信息</p>

            </div>
            <div class="col-sm-4">
                <div>
                    <a href="#prototypes"><img src="/img/feature-prototypes.jpg" class="img-thumbnail img-responsive" alt="App原型" /></a>
                </div>
                <h3><a href="#prototypes">App原型</a></h3>
                <p>當前進展和即將到來的新功能</p>

            </div>
        </div>
    </div>
</article>

<!--About-->
<header class="jumbotron" id="about">

    <section class="container">
        <section class="maps">

            <h2>關於小巴</h2>
            <p class="lead">關於小巴您所需要知道的一切。</p>

        </section>
    </section>
    
</header>
<article class="container features">
    <div class="row">
        <div class="col-sm-4">
            <h3>如何乘坐</h3>
            <p>您可以在小巴指定車站上下車，也可攔招上車。東皇后區、夫拉特布殊大道：您可以請求在沿線任何地點下車。中國城-布碌侖-法拉盛：一般您只能在指定車站附近下車。</p>
        </div>
        <div class="col-sm-4">
            <h3>小巴車費</h3>
            <p>請在上車時</p>
            <p>東皇后區、夫拉特布殊大道：2美元</p>
            <p>中國城-布碌侖-法拉盛：3-4美元</p>
        </div>
        <div class="col-sm-4">
            <h3>政府許可的小巴</h3>
            <p>乘坐政府許可的小巴可以確保您出行更加安全。紐約市計程車及出租車管理局（TLC）會對所有司機進行背景調查。車輛必須滿足嚴格的安全標準。小巴運營個人或公司也必須滿足其他特定的保險和許可要求。</p>
        </div>
    </div>
    <div class="row hidden">
        <img src="/img/van-info.jpg" class="img-responsive img-rounded" alt="紐約市計程車及出租車管理局（TLC）許可的小巴具有一些可以識別的標誌" />
    </div>
    
</article>

<article class="secondary">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">
                <h3>紐約市計程車及出租車管理局（TLC）許可的小巴具有一些可以識別的標誌：</h3>
                <ul class="lead">
                    <li>紐約市計程車及出租車管理局（TLC）藍色鑽石標籤：一般位於小巴後門、後門玻璃或擋風玻璃上。</li>
                    <li>紐約市計程車及出租車管理局（TLC）頒發的車牌：一般以字母T開頭并以字母C結尾，或以字母LV、LB、LA或BB結尾。</li>
                    <li>商用信息：一般位於車身的關於小巴所有者或運營者的信息</li>
                </ul>
            </div>
        </div>
    </div>
</article>

<!--Maps-->
<header class="jumbotron" id="maps">

    <section class="container">
        <section class="maps">

            <h2>地圖</h2>
            <p class="lead">查看小巴的路線信息</p>

        </section>
    </section>
    
</header>
<article class="maps container">
    <div class="row">

        <div class="col-sm-4 download-maps">
            <h4>東皇后區</h4> <!-- Eastern Queens -->
            <img src="/img/jamaica.jpg" class="img-responsive hidden-xs" alt="東皇后區" />
            <a href="/img/jamaica.jpg" download class="btn btn-lg btn-primary">下載 <span class="glyphicon glyphicon-download"> </span></a> <!-- download -->
        </div>
        <div class="col-sm-4 download-maps">
            <h4>中國城-布碌侖-法拉盛</h4> <!-- Chinatown -->
            <img src="/img/chinatown.jpg" class="img-responsive hidden-xs" alt="中國城-布碌侖-法拉盛" />
            <a href="/img/chinatown.jpg" download class="btn btn-lg btn-primary">下載 <span class="glyphicon glyphicon-download"> </span></a> <!-- download -->
        </div>
        <div class="col-sm-4 download-maps">
            <h4>夫拉特布殊大道</h4> <!-- Flatbush -->
            <img src="/img/flatbush.jpg" class="img-responsive hidden-xs" alt="夫拉特布殊大道" />
            <a href="/img/flatbush.jpg" download class="btn btn-lg btn-primary">下載 <span class="glyphicon glyphicon-download"> </span></a> <!-- download -->
        </div>

    </div>
</article>

<!--Prototype-->
<article class="maps container" id="prototype">
    <section class="visible-xs visible-sm">

        <h2>App原型</h2>

    </section>
    <div class="row">

        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-en.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#enModal" alt="English" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#enModal">English</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-es.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#esModal" alt="Español" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#esModal">Español</a>
            
        </div>
        <div class="col-sm-4 text-center">
            
            <img src="/img/prototype-zh.png" class="img-prototype img-responsive hidden-sm hidden-xs" data-toggle="modal" data-target="#zhModal" alt="中文" />
            <a class="btn btn-lg btn-primary visible-xs visible-sm" data-toggle="modal" data-target="#zhModal">中文</a>
            
        </div>

    </div>
    
</article>

<!-- 中文 Modal -->
<div class="modal fade" id="zhModal" tabindex="-1" role="dialog" aria-labelledby="zhModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="zhModalLabel">中文</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/460aa3b4-42a8-4650-8c18-e33396c724e4/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>

<!-- Español Modal -->
<div class="modal fade" id="esModal" tabindex="-1" role="dialog" aria-labelledby="esModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="esModalLabel">Español</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/164baea5-ea76-4ba4-b0d1-f3fa76f12265/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>

<!-- English Modal -->
<div class="modal fade" id="enModal" tabindex="-1" role="dialog" aria-labelledby="enModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="enModalLabel">English</h4>
      </div>
      <div class="modal-body text-center">
        <iframe width="377" height="667" src="https://xd.adobe.com/embed/80cb9e01-3814-4c66-b954-e29212beecdf/" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>