
<%- contentFor('hero') %>

<!--
<h1>Dollar Van<span style="font-weight: 400">.nyc</span></h1>
<h2>About Dollar Vans</h2>
<p class="lead">Dollar Vans are a privately-owned transportation service that helps you move around areas where public transportation is scarce or inconvenient.</p>
<a class="btn btn-lg btn-primary" href="https://adobe.ly/2on3SNm" target="_blank" role="button">Check out the prototype</a>-->


<section class="about">

    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>

</section>


    
<%- contentFor('body') %>

<!--About-->
<article class="container features">
    <div class="row">
        <div class="col-sm-4">
            <h3>How To Ride</h3>
            <p>You can board dollar vans at designated stops, or hail them just like a taxi. 
                <strong>Queens, Flatbush</strong>: you can request a drop-off anywhere along the route. <strong>Chinatown, Flushing, Sunset Park</strong>: you must board and depart at designated stops.</p>
        </div>
        <div class="col-sm-4">
            <h3>Van Fares</h3>
            <p>Pay your driver before or after your ride.</p>
            <p><strong>Queens, Flatbush</strong>: $2</p>
            <p><strong>Chinatown, Flushing, Sunset Park</strong>: $3-4.</p>
        </div>
        <div class="col-sm-4">
            <h3>Licensed Vans</h3>
            <p>Riding Licensed Dollar Vans makes your ride safer. TLC (NYC Taxi &amp; Limousine Commission) runs background checks on all drivers. Vehicles must meet strict safety standards. Commuter Van operators must meet proper insurance and licensing requirements.</p>
        </div>
    </div>
    <div class="row">
        <img src="/img/van-info.jpg" class="img-responsive img-rounded" />
    </div>
    
</article>

    <div class="row secondary">
        
        <div class="col-sm-6 col-sm-offset-3">
            <h3>TLC-licensed Commuter Vans have visible markings:</h3>
            <ul class="lead">
                <li>TLC blue diamond decals: located in each rear passenger door, the windshield and the rear door window.</li>
                <li>TLC-issued license plates: that either begin with T and end with C, or end with either: LV, LB, LA, or BB.</li>
                <li>Business information: about the van's owner and operator on the van body</li>
            </ul>
        </div>
    </div>
