
<%- contentFor('hero') %>

<section class="home">
    <h1>DollarVan<span style="font-weight: 400">.nyc</span></h1>
    <h2>Transportation by the people, for the people</h2>
</section>


<%- contentFor('cta') %>
<a class="btn btn-lg btn-primary" href="/about" target="_blank" role="button"></a>


    
<%- contentFor('body') %>
<!--Features-->
<article class="features container">
    <div class="row">
        <div class="col-sm-7 text-center hidden-xs">
            <a href="/about"><img src="/img/feature-info.jpg" class="img-rounded img-responsive" /></a>
        </div>
        <div class="col-sm-5">
            <h3>Van Information</h3>
            <p>Everything you need to know about dollar vans in one place, translated in English, Español, 中文版, and Kreyòl Ayisyen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 text-center hidden-xs">
            <img src="/img/feature-map.jpg" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-5">
            <h3>Van Maps</h3>
            <p>View route information for dollar van service in your neighborhood.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 text-center hidden-xs">
            <img src="/img/feature-tracker.jpg" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-5">
            <h3>Van Tracker</h3>
            <p>Coming soon. See available licensed vans in real-time.</p>
        </div>
    </div>
</article>
    
<!--Questions-->
<div class="row hidden">
    <div class="col-sm-4">
        <h4>How do I safely ride the vans</h4>
        <h4 class="translate">¿Cómo puedo usar las dollar vans de manera segura?</h4>
        <p>Basic information about the service, how to ride and how to identify licensed vans available in English, Chinese, Spanish and Haitian Creole.</p>
    </div>
    <div class="col-sm-4">
        <h4>Which van should I take? Where does this van go?</h4>
        <h4 class="translate">¿Que línea me llevará a mi destino? A dónde va esta furgoneta?</h4>
        <p>Mapping the service.</p>
    </div>
    <div class="col-sm-4">
        <h4>I want to request a van!</h4>
        <h4 class="translate">¡Quiero pedir una furgoneta!</h4>
        <p>Phase 3</p>
    </div>
</div>
