
<%- contentFor('hero') %>

<section class="maps">
    
    <h2>Maps</h2>
<p class="lead">More routes to be added soon.</p>
    
    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>

</section>


    
<%- contentFor('body') %>

<!--Team-->
<article class="maps container">
    <div class="row">

        <div class="col-sm-6">
            <h2>Eastern Queens</h2>
            <img src="/img/jamaica.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-6">
            <h2>Chinatown</h2>
            <img src="/img/static.png" class="img-responsive" />
        </div>

    </div>
</article>