
<%- contentFor('hero') %>

<h1>Dollar Van<span style="font-weight: 400">.nyc</span></h1>
<h2>Maps</h2>


    
<%- contentFor('body') %>

<!--Team-->
<div class="row">
        
    <div class="col-sm-8 col-sm-offset-2">
        <h4>Eastern Queens</h4>
        <img src="/img/static.png" class="img-responsive" />
    </div>
        
</div>