<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/en/#about">Van Info</a></li>
    <li><a href="/en/#maps">Van Maps</a></li>
    <li><a href="/en/#prototype">Prototype</a></li>
    <li><a href="/research">Research</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">English <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->

<%- contentFor('hero') %>

<section class="maps">
    
    <h2>Further Reading</h2>
    
    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>

</section>


    
<%- contentFor('body') %>

<!--Team-->
<article class="maps container">
    <div class="row">

        <div class="col-sm-8">
            <h4><a href="http://projects.newyorker.com/story/nyc-dollar-vans/">New York’s Shadow Transit</a></h4>
            by Aaron Reiss
            <blockquote>[D]ollar vans and other unofficial shuttles make up a thriving shadow transportation system that operates where subways and buses don’t—mostly in peripheral, low-income neighborhoods that contain large immigrant communities and lack robust public transit.</blockquote>
            <blockquote>During Hurricane Sandy, when thousands in this area were left stranded, dollar vans continued to run. Anthony Campbell, a driver, told me, “The M.T.A. buses withdrew their service because they said the downed trees weren’t safe for the buses. You know, we were smaller, so we were able to travel to and from.”</blockquote>

            <h4><a href="http://www.haitiinfos.net/2017/02/nyc-mayor-de-blasio-signs-legislation-reform-commuter-van-industry/">NYC Major deBlasio Signs Legislation To Reform Commuter Van Industry</a></h4> February 2016 
            (NYC Press Release / Vania Andre) 
            

            <h4><a href="https://www.theatlantic.com/national/archive/2011/10/the-illegal-private-bus-system-that-works/246166/">The (Illegal) Private Bus System That Works</a></h4>
            by Lisa Margonelli
            October 2011
            

            <h4><a href="http://www.wnyc.org/story/284349-dollar-van-routes-replacing-cut-bus-lines-announced/">Dollar Van Routes Replacing Cut Bus Lines Announced</a></h4>
            <p>by Andrea Bernstein<br />Jul 2010</p>
            


            <h4><a href="http://nyc.streetsblog.org/2015/01/06/stuck-in-the-middle-new-report-shows-who-can-benefit-from-outer-borough-brt/">Stuck in the Middle: When Transit-Dependent Communities Lack Good Transit</a></h4>
            by Stephen Miller Jan 2015
            
            <blockquote>New Yorkers who live close to the center of town are mostly affluent and have great transit options connecting them to a wealth of job opportunities. On the edges of town, people are not quite as well-off, and most can get to work by driving their own cars. In between are the least affluent neighborhoods, where New Yorkers rely on transit but the number of jobs accessible by train or bus is much smaller than in the city core.</blockquote>
            
            <h4><a href="http://triblive.com/news/adminpage/5674870-74/service-heritage-transportation">Former WorkLink bus service revives as Heritage Community Transportation</a></h4>
            by Matthew Santoni
            
            <h4><a href="https://www.nytimes.com/2015/05/07/upshot/transportation-emerges-as-crucial-to-escaping-poverty.html">Transportation Emerges as Crucial to Escaping Poverty</a></h4>
            <p>by Mikayla Bouchard<br />May 2015</p>
            
            <blockquote>In a large, continuing study of upward mobility based at Harvard, commuting time has emerged as the single strongest factor in the odds of escaping poverty. The longer an average commute in a given county, the worse the chances of low-income families there moving up the ladder.</blockquote>

            <blockquote>The relationship between transportation and social mobility is stronger than that between mobility and several other factors, like crime, elementary-school test scores or the percentagjn  of two-parent families in a community, said Nathaniel Hendren, a Harvard economist and one of the researchers on the study.</blockquote>

            <h4><a href="https://www.nytimes.com/2015/05/07/upshot/transportation-emerges-as-crucial-to-escaping-poverty.html?abt=0002&abg=1&_r=0">Transportation Inequality in the United States: A Historical Overview</a></h4>by Mikayla Bouchard
            
            
            <h4><a href="http://www.accessmagazine.org/articles/fall-2010/falling-immigration-rates-mean-falling-transit-ridership/ ">Falling Immigration Rates Mean Falling Transit Ridership</a></h4>
            <blockquote>Immigrants comprise a large and growing segment of the population, and are twice as likely as native-born workers to commute by public transit. In California, for example, immigrants comprise just over a quarter of the population (27 percent), but more than half of all transit commuters.</blockquote>
            
            <h4><a href="https://www.theatlantic.com/business/archive/2015/05/stranded-how-americas-failing-public-transportation-increases-inequality/393419/">Stranded: How America's Failing Public Transportation Increases Inequality</a></h4>
            <blockquote>The nation’s crumbling infrastructure makes it hard for those living in poverty to access jobs, quality groceries, and good schools.</blockquote>
              

            <h2>SCHOLARLY ARTICLES / STUDIES</h2>

            <h4><a href="https://wagner.nyu.edu/files/faculty/publications/JobAccessNov2015.pdf">Mobility, Economic Opportunity, and New York City Neighborhoods</a></h4> 
            by NYU Rudin Center: Sarah M. Kaufman, Mitchell L. Moss, Jorge Hernandez and Justin Tyndall
            
            <blockquote>Limited transit access is linked to higher unemployment. Neighborhoods with some, but insufficient transit access – those in the middle third – faced higher rates of unemployment than those in the top or bottom third.</blockquote>

            <h4><a href="http://heinonline.org/HOL/LandingPage?handle=hein.journals/frdurb31&div=51&id=&page=">Addressing Urban Transportation Equity in the United States</a></h4>by Robert D. Bullard
            

            <h4><a href="http://www.equality-of-opportunity.org/images/nbhds_exec_summary.pdf">The Impacts of Neighborhoods on Intergenerational Mobility</a></h4>
            by Raj Chetty and Nathaniel Hendren, Harvard University
            

            Hudson County 

            <h2>BOOK</h2>
            <h4><a href="http://www.indiebound.org/book/9780393246803">Move</a></h4>
            
            <blockquote>Americans are stuck. We live with travel delays on congested roads, shipping delays on clogged railways, and delays on repairs, project approvals, and funding due to gridlocked leadership. These delays affect us all, whether you are a daily commuter, a frequent flyer, an entrepreneur, an online shopper, a job-seeker, or a community leader. If people can't move, if goods are delayed, and if information networks can't connect, then economic opportunity deteriorates and social inequity grows.</blockquote>

             


            <h2>VIDEOS</h2>

            <h4><a href="https://www.youtube.com/watch?v=NDVVbr4IKZQ">No Vans Land</a></h4> 
            

            <h4><a href="https://youtu.be/75jxwNyVDtI">Dollar Vans: Inside NYC’s Hidden Transit System</a></h4>
            



            <h2>OTHER</h2>

            <h4><a href="http://jillhubley.com/project/nyclanguages/">Languages of NYC</a></h4> 
            

            <h4><a href="http://www.nyc.gov/html/tlc/html/industry/dsp_lic_appl_info.shtml">Dispatch Service Provider License Application Information</a></h4>
            

            <h4><a href="http://web.mta.info/nyct/paratran/guide.htm">Access-a-Ride Services</a></h4> 
            
            
        </div>
        <div class="col-sm-4">
            <h2>Chinatown</h2>
            <img src="/img/chinatown.jpg" class="img-responsive" />
        </div>

    </div>
</article>