<%- contentFor('navbar') %>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/en/about">Van Info</a></li>
    <li><a href="/en/maps">Van Maps</a></li>
    <li><a href="/en/prototype">Prototype</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">English <span class="glyphicon glyphicon-triangle-bottom"> </span></a>
        <ul class="dropdown-menu">
            <li><a href="/en">English</a></li>
            <li><a href="/es">Español</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
      </li>
  </ul>
</div><!--/.navbar-collapse -->

<%- contentFor('hero') %>

<section class="maps">
    
    <h2>Further Reading</h2>
    
    <video width="800" height="600" autoplay muted>
    <!--
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    -->
    </video>

</section>


    
<%- contentFor('body') %>

<!--Team-->
<article class="maps container">
    <div class="row">

        <div class="col-sm-8">
            <h3><a href="http://projects.newyorker.com/story/nyc-dollar-vans/">New York’s Shadow Transit</a> by Aaron Reiss</h3>
            
            <blockquote>“dollar vans and other unofficial shuttles make up a thriving shadow transportation system that operates where subways and buses don’t—mostly in peripheral, low-income neighborhoods that contain large immigrant communities and lack robust public transit.”
            “During Hurricane Sandy, when thousands in this area were left stranded, dollar vans continued to run. Anthony Campbell, a driver, told me, “The M.T.A. buses withdrew their service because they said the downed trees weren’t safe for the buses. You know, we were smaller, so we were able to travel to and from.””</blockquote>

            <h3><a href="http://www.haitiinfos.net/2017/02/nyc-mayor-de-blasio-signs-legislation-reform-commuter-van-industry/">NYC Major deBlasio Signs Legislation To Reform Commuter Van Industry</a></h3> February 2016 
            (NYC Press Release / Vania Andre) 
            

            <h3><a href="https://www.theatlantic.com/national/archive/2011/10/the-illegal-private-bus-system-that-works/246166/">The (Illegal) Private Bus System That Works</a> by Lisa Margonelli</h3>
            October 2011
            

            <h3><a href="http://www.wnyc.org/story/284349-dollar-van-routes-replacing-cut-bus-lines-announced/">Dollar Van Routes Replacing Cut Bus Lines Announced</a> by Andrea Bernstein</h3>
            <p>Jul 2010</p>
            


            <h3><a href="http://nyc.streetsblog.org/2015/01/06/stuck-in-the-middle-new-report-shows-who-can-benefit-from-outer-borough-brt/">Stuck in the Middle: When Transit-Dependent Communities Lack Good Transit</a> by Stephen Miller</h3>
            Jan 2015
            
            <blockquote>“New Yorkers who live close to the center of town are mostly affluent and have great transit options connecting them to a wealth of job opportunities. On the edges of town, people are not quite as well-off, and most can get to work by driving their own cars. In between are the least affluent neighborhoods, where New Yorkers rely on transit but the number of jobs accessible by train or bus is much smaller than in the city core.”</blockquote>
        </div>
        <div class="col-sm-4">
            <h2>Chinatown</h2>
            <img src="/img/chinatown.jpg" class="img-responsive" />
        </div>

    </div>
</article>